body {
	background: #eff2f8;
	font-size: 13px;
}
pre {
	border: 1px solid #ebedef;
	border-radius: 4px;
	background-color: #f8f9fa;
	color: #222 !important;
	font-family: Consolas, monospace;
	font-size: 13px;
	margin: 0;
	padding: 7px 10px;
	white-space: pre-wrap;
}
img {
	border: 4px solid #f6f7fa;
	display: block;
	margin-top: 15px;
	width: 150px;
}
th, td {
	border-bottom: 1px solid #ddd !important;
	color: #222 !important;
}
th {
	font-family: Roboto, Arial;
	font-size: 11px;
	font-weight: 500 !important;
	padding: 7px 10px;
	text-transform: uppercase;
}
td {
	font-size: 13px;
	font-weight: 400;
	padding: 7px 10px;
	word-break: break-all;
}

/* -- [ containers ] -- */
.container {
	max-width: none;
	padding-left: 220px;
	width: 98%;
}
.container > div {
    margin-top: 5px;
}
.wrapper {
	background: #fff;
	height: 100%;
	overflow: auto;
}

/* -- [ material overrides ] -- */
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: auto;
    line-height: normal;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
	box-shadow: none;
}
[type='checkbox']:checked + label::before {
	border-color: transparent #eee #eee transparent;
}
[type='checkbox'] + label::before {
	margin-top: 4px;
}
.select-wrapper input.select-dropdown, .input-field label {
	font-size: 0.8rem;
}
.material-tooltip, label {
	font-size: 13px !important;
}
.input-field label {
	font-size: 11px !important;
	left: 0;
}
table thead tr:first-child {
	border-bottom: 2px solid #cacaca;
}

/* -- [ global structure ] -- */
.vh100 {
	height: 100vh;
}
.bg-dark {
	background: #2e3e4e !important;
	color: #fff !important;
}
.capitalize {
	text-transform: capitalize !important;
}
.upper {
	text-transform: uppercase !important;
}
.small {
	font-size: 11px;
}
.weight-light {
	font-weight: 400;
}
.weight-normal {
	font-weight: 500;
}
.weight-bold {
	font-weight: 700;
}
.text-white {
	color: #fff !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-h {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-v {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.no-margin-v {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.no-box-shadow {
	box-shadow: none !important;
}
.card {
	height: 100px;
	padding: 12px 15px;
}
.card-panel .panel-lead {
	margin-top: 70px;
}
.panel-lead {
	display: block;
	font-size: 20px;
	text-align: center;
}
.card .panel-lead {
	bottom: 10px;
	font-size: 15px;
	position: absolute;
	right: 15px;
}
.panel-setting {
	margin-top: -20px;
	padding: 0 5px;
}
.panel-setting:hover {
	background-color: #eee;
	border-radius: 5px;
	cursor: pointer;
}
.panel-setting i {
	color: #444;
}
img.active {
	max-width: inherit !important;
}
.report-img.active {
	border-radius: 0 !important;
	height: 80% !important;
	left: 10% !important;
	position: fixed !important;
	top: 10% !important;
	width: 80% !important;
}
.linked {
	color: #039be5;
	cursor: pointer;
}
.icon {
	border: 2px solid #d0d0d0;
	color: #848484;
	border-radius: 100%;
	font-size: .8rem !important;
	padding: 1px 5px 2px;
}
.icon.active, .icon:hover {
	border-color: #4CAEFF;
	color: #4CAEFF;
}

/* -- [ top-nav ] -- */
nav {
	padding-left: 20px;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, nav label {
	background: #29ccf7;
	color: #eee;
	height: 50px;
	line-height: 49px;
}
nav ul li:hover {
	background: none;
}
nav div {
    display: inline-block;
}
.nav-right {
	margin-right: 35px;
}
.report-name {
	display: inline-block;
	padding-left: 25px;
}

/* -- [ side-nav ] -- */
.side-nav {
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
	top: 50px;
}
.side-nav > li {
	color: #444;
	display: block;
    padding: 0;
}
.side-nav li.header {
	padding-left: 20px;
}
.side-nav a, .side-nav label, .analysis i {
	font-size: 13px !important;
}
.side-nav i {
    display: inline-block;
    font-size: 1rem;
	padding-right: 15px;
}
.side-nav li.header, .side-nav a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 20px !important;
}
		
/* -- [ run summary] -- */
#run-summary-view td:first-child, #run-summary-view td:nth-child(2), #run-summary-view td:nth-child(3) {
	max-width: 150px;
}
#run-summary-view td:last-child {
	min-width: 150px;
}

/* -- [ collections ] -- */
.test-collection {
	margin: 0 auto;
	position: relative;
}
.test-collection li, .cat-collection li {
	border-bottom: 1px solid #e4e7e9;
	padding: 15px;
}

/* -- [ filters ] -- */
.filters {
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
	padding: 20px;
}
.filters > div {
	display: inline-block;
}
.search > .input-field {
    display: inline-block;
	height: 1px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
	width: 0;
}
.search .icon {
	margin-left: -16px;
}
.dropdown-content li {
    min-height: auto;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #444;
	font-size: 0.85rem;
	line-height: 1.2rem;
	padding: 0.5rem 1rem;
}
.dropdown-button {
	color: inherit;
}

/* -- [ dashboard, trends, report-dashboard ] -- */
#report-dashboard.displayed + #report-view {
	margin-top: -20px;
}
#report-dashboard .card-panel {
	height: 260px;
}
#report-analysis, #test-analysis, #step-analysis {
	height: 120px;
	margin: 30px auto 0;
	text-align: center;
	width: 150px;
}
#report-trends-status-test, #report-trends-status-step {
	height: 200px;
	margin: 30px auto 0;
	text-align: center;
	width: 95%;
}
.trend-fh {
	height: 315px;
}
.chart-box {
	display: block;
	margin: 0 auto 10px;
	text-align: center;
}
.chart {
	height: 100px;
	margin: 10px auto 25px;
	position: relative;
	text-align: center;
	width: 100px;
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.doughnut-legend li span {
	border-radius: 2px;
	display: block;
	float: left;
	height: 10px;
	margin-right: 8px;
	margin-top: 4px;
	width: 10px;
}
.doughnut-legend {
	display: inline-block;
	list-style: none;
	margin: 10px 0 0 -35px;
	font-size: 12px;
}
.doughnut-legend li {
	text-align: left;
}
.doughnut-legend li:first-letter {
	text-transform: capitalize;
}
#report-dashboard .progress {
	margin-top: 85px;
}

/* -- [ report-view -> test ] -- */
.report-view {
    margin-top: 8px;
}
.test.active, .category-item.active {
	background: #f5f5f5;
	color: #444 !important;
}
.test .test-body, .cat-collection .cat-body {
	display: none;
}
.test-info {
	margin: 5px 0 10px;
}
.test-name {
	display: inline-block;
    font-size: 14px;
	width: 70% !important;
	word-break: break-all;
}
.test.active .test-name {
    font-weight: 500;
}
.test-desc {
	margin-bottom: 10px;
}
.test-steps, .cat-tests {
	margin-top: 50px;
}
.collapsible-body .test-steps {
	margin-top: 30px;
}
.test-steps th:nth-child(2), .test-steps td:nth-child(2) {
	max-width: 90px;
	width: 90px;
}
.test-steps th:first-child, .test-steps td:first-child {
	text-align: left !important;
	max-width: 65px;
	width: 35px;
}
.test-body .collapsible-header {
	background-color: inherit;
	border-bottom: none;
	height: auto;
	line-height: inherit;
	padding: 1.2rem 1rem;
}
.test-body table {
	margin-top: 10px;
}
.test-body .collapsible-body {
	padding: 0 15px 30px;
	width: 100%;
}
.test-body .collapsible-body table {
	margin-top: -20px;
}
.test-body .collapsible {
	border: none !important;
	box-shadow: none !important;
}
.test-body .collapsible > li.active {
	border: 1px solid #999;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.collapsible .test-info {
	margin: 0 0 0 20px;
}
.test-body .collapsible > li {
	background: #edf3ff;
	box-shadow: none;
	margin-bottom: 2px;
}
.test-node-name {
	display: inline-block;
}
.test-node .test-started-time, .test-node  .test-ended-time, .test-node  .test-time-taken {
	display: none;
}
.test-node.active .test-started-time, .test-node.active  .test-ended-time, .test-node.active  .test-time-taken {
	display: inline-block;
}
.node-2x {
	margin-left: 20px !important;
}
.node-3x {
	margin-left: 35px  !important;
}
.node-4x {
	margin-left: 50px  !important;
}
.node-5x {
	margin-left: 65px !important;
}
.node-6x {
	margin-left: 80px !important;
}
.node-7x {
	margin-left: 95px !important;
}
.node-8x {
	margin-left: 110px !important;
}

/* -- [ test details ] -- */
.test-details-container .test-steps {
	display: block !important;
}
.details-container, .cat-container {
	background: #fff none repeat scroll 0 0;
	margin: 0 -20px;
	padding: 0 20px 75px;
}

/* -- [ test-attributes ] -- */
span.category {
	border: 1px solid #00aeef;
	color: #00aeef !important;
	border-radius: 25px;
	font-size: 12px;
	padding: 3px 8px;
}

/* -- [ test-history modal ] -- */
.history {
	cursor: pointer;
	margin-left: 10px;
}
.history i {
	color: #999 !important;
}
#test-history-modal .test-body {
	display: block !important;
}
#test-history-modal .modal-box {
	background: #edf3ff;
	margin-bottom: 2px;
	padding: 10px 20px;
}
#test-history-modal .test-history {
	margin-top: 30px;
}
#test-history-modal .modal-test-name {
	display: inline-block;
	font-size: 16px;
	margin-right: 20px;
}
#test-history-modal .modal-test-status {
	text-transform: capitalize;
}
#test-history-modal .modal-test-info {
	margin-top: 10px;
}
.history-navigation {
	float: right;
}
.mdi-action-launch {
	cursor: pointer;
	font-size: 20px;
}

/* -- [ progress bar ] -- */
.progress2 {
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	height: 15px;
	margin: 10px 0;
	max-width: 350px;
	overflow: hidden;
}
.progress-bar-success {
	background-color: #32bf32 !important;
}
.progress-bar-warning {
	background-color: #ffa81c !important;
}
.progress-bar-danger {
	background-color: #FF5A5E !important;
}
.progress-bar-skip {
	background-color: #46BFBD !important;
}
.progress-bar2 {
	background-color: #337ab7;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	color: #fff;
	float: left;
	font-size: 11px;
	font-weight: 500;
	height: 100%;
	line-height: 15px;
	text-align: center;
	transition: width 0.6s ease 0s;
	width: 0;
}
.progress-striped .progress-bar, .progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}
.sr-only {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: relative;
	width: 1px;
}

/* -- [ status styles ] -- */
.status.fail, .fail > i {
	color: #eb4549;
} 
.status.fatal, .fatal > i {
	color: darkred;
}
.status.error, .error > i {
	color: tomato;
} 
.status.warning, .warning > i {
	color: orange;
}
.status.pass, .pass > i {
	color: #32CD32;
}                
.status.info, .info > i {
	color: #22a1c4;
} 
.status.skip, .skip > i {
	color: #999;
}
.status.unknown, .unknown > i {
	color: #222;
}

/* -- [ labels ] -- */
.test-status.label, .status.label {
	text-align: center;
}
.label {
	border: 1px solid transparent;
	border-radius: 2px;
	display: inline-block;
	font-size: 11px;
	font-weight: 500;
	padding: 2px 5px;
	text-transform: none;
}
.label.success, .label.pass {
	border-color: #60b963;
	color: #60b963;
}
.cat-label {
	border: 1px solid transparent;
}
.cat-pass {
	border-color: #46be8a !important;
	color: #46be8a;
}
.label.fatal {
	border-color: rgb(139, 0, 0);
	color: rgb(139, 0, 0);
}
.label.failure, .label.fail {
	border-color: #c64444;
	color: #c64444;
}
.cat-fail {
	border-color: #f96868 !important;
	color: #f96868;
}
.label.error {
	border-color: #ec407a;
	color: #ec407a;
}
.label.info {
	border-color: #46BFBD;
	color: #46BFBD;
}
.label.warn, .label.warning {
	border-color: #d88519;
	color: #d88519;
}
.cat-other {
	border-color: #f2a654 !important;
	color: #f2a654;
}
.label.skip, .label.skipped {
	border-color: #2196f3;
	color: #2196f3
}
.label.unknown {
	border-color: #444;
	color: #444;
}
.label.html, .label.db {
	background: #2196f3;
}
.label.date {
	background: #eee;
}
/* -- [ media queries ] -- */
@media all and (max-width: 992px) {
	nav {
		padding-left: 1%;
	}
	header, main, footer, .container {
		padding-left: 0;
	}
}

/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all{.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:rgba(0,0,0,0)}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;min-width:30%;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:rgba(255,255,255,.3);color:#000}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0}.featherlight iframe{border:0}}@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:10px;margin-right:10px;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}











.tests-view, .details-view {
    bottom: 0;
    overflow: auto;
    position: fixed;
    top: 63px;
}
.tests-view {
    width: 540px;
}
.details-view {
    left: 800px;
    right: 20px;
}
.v-spacer {
    top: 340px;
}