html, body {
    margin: 0;
    padding: 0;
}
body {
	background: #eee;
    font-family: Lato, 'Open Sans', Arial;
    font-size: 15px;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans';
	font-weight: 600;
}
h2 {
	font-size: 2rem;
	padding-top: 40px;
}
h3 {
	font-size: 1.5rem;

	padding-top: 30px;
}
h4 {
	font-size: 1.1rem;
	padding-top: 20px;
}
a {
    color: #119ee7;
    text-decoration: none;
}
pre, pre code, .hljs {
    background: #f7f8fa;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
}
pre {
    padding: 0 15px;
}
pre code {
    padding-bottom: 15px !important;
    padding-top: 0 !important;
}
button {
    margin-right: 5px !important;
}
button i {
    padding-right: 5px;
}
button a {
    color: #000; 
}
strong {
	font-weight: 600;
}
.container ul li {
	list-style: inside;
	margin-left: 10px;
	padding: 1px 0;
}
.container ul li li {
	margin-left: 25px;
}
.container ul li li li {
	margin-left: 25px;
}
img {
	max-width: 100%;
}
li img {
    margin-top: 20px !important;
}
iframe {
    margin-bottom: -8px;
	margin-left: 20px;
}

/* - [ global styles ] - */
.bg-inverse {
    background-color: #1a2a42;
    color: #fff;
}
.bg-inverse p, .bg-inverse span, .bg-inverse li {
    color: #fff;
}
.bg-inverse a {
    color: #3bc8e1;
}
.left { 
    float: left !important; 
}
.right { 
    float: right !important; 
}
.text-white {
    color: #fff;
}
.bordered-img {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
    display: block;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.alert {
    border: 1px solid #d11149;
    border-radius: 5px;
    padding: 10px 20px;
}
.note {
    border: 1px solid dodgerblue;
    border-radius: 5px;
    padding: 10px 20px;
}
.screenshot {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    width: 30%;
}
.divider {
	margin: 10px 0;
}

/* - [ material overrides ] - */
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 52px;
    line-height: 52px;
}
.container {
	max-width: none;
	width: 95% !important;
}
.btn {
	background: #04A5F0;
	font-size: 14px;
	letter-spacing: 0;
	line-height: inherit;
	height: auto;
	padding: 7px 15px;
	text-transform: none;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
	font-size: .8rem; 
}
.btn:hover {
	background: #04A5F0;
}
.dropdown-content {
	min-width: 150px;
}
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 14px;
}
.card-panel {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}
i.right {
	margin-left: 8px;
}

/* - [ nav, sidenav ] - */
nav {
	background: #04A5F0;
	padding-left: 25px;
	padding-right: 50px;
}
nav .logo {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
}
nav .headline {
	display: inline-block;
	font-size: 12px !important;
	font-weight: 400 !important;
}
.side-nav {
	margin-top: 64px;
	width: 350px;
}
.side-nav > li:last-child {
	padding-bottom: 100px;
}
.side-nav .title > a {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 20px;
}
.side-nav a {
	color: #444 !important;
	height: auto !important;
	line-height: 32px !important;
	padding: 5px 15px !important;
}
.side-nav .divider {
	margin: 0 0 20px !important;
}

/* - [ home ] - */
.home .container {
	width: 70%;
}
.home h1, .home h2, .home h3, .home h4 {
	padding-top: 0 !important;
}

/* - [ contents ] - */
.content {
	padding-left: 35px;
	padding-right: 35px;
}
.content p, .content ul, .content ol, .content blockquote, .content td, .content th {
	line-height: 1.65rem;
}
.content > h1:first-child, .content > h2:first-child, .content > h3:first-child, .content > h4:first-child {
	padding-top: 0;
}

/* - [ table of contents ] - */
.toc {
	height: 92%;
	overflow-y: auto;
	position: fixed;
	right: 10px;
	width: 32%;
}
.index {
	padding-bottom: 40px;
}
.active-index {
	padding-top: 80px;
}
.index li {
	list-style: none !important;
}

/* - [ animate.css hinge ] - */
/*!
    Animate.css - http://daneden.me/animate
    Licensed under the MIT license - http://opensource.org/licenses/MIT

    Copyright (c) 2015 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}